DATABASE_USERNAME=blps
DATABASE_PASSWORD=blps

PAYMENT_REQUESTS_TOPIC=payment-requests
PAYMENT_URL_ASSIGNED_TOPIC=payment-url-assigned

ERPNEXT_BASE_URL=http://93.100.213.224:18080
ERPNEXT_API_KEY=replace-me
ERPNEXT_API_SECRET=replace-me
ERPNEXT_COMPANY=AirBNB
ERPNEXT_SERVICE_ITEM_CODE=EXTRA_SERVICE

YOOKASSA_SHOP_ID=1330376
YOOKASSA_SECRET_KEY=replace-me
YOOKASSA_API_URL=https://api.yookassa.ru/v3
YOOKASSA_RETURN_URL=https://your-domain.example/payment-return
